body{
    background-color: black;
}
h1{
    color: rgb(139, 135, 135);
}
h3{
    color: rgb(139, 136, 136);
}
p{
    color: white;
}
h3{
    color: rgb(139, 136, 136);
}
h3{
    color: rgb(139, 136, 136);
}
h4{
    color: rgb(139, 135, 135);
}
p{
    color: white;
}
h4{
    color: rgb(139, 135, 135);
}
p{
    color: white;
}